
body {
  font-family: 'Raleway', sans-serif;
  color: #4e4e4e;
  line-height: 24px;
  font-size: 13px;
  letter-spacing: 1.2px;
  -webkit-font-smoothing: antialiased;
  padding-top: 68px;
  position: relative;
}

a {
  color: #51d4fc;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.dark-bg {
  background: #34353A;
}

.white-bg {
  background: #fff;
}

.without-padding {
  padding: 0;
}

.marg-0 {
  margin: 0;
}

.pad-b-0 {
  padding-bottom: 0!important;
}

.pad-t-100 {
  padding-top: 100px!important;
}

.bg-gray {
  background: #e5e5e5;
}

.form-control::-moz-placeholder {
  color: #494949;
}
.form-control:-ms-input-placeholder {
  color: #494949;
}
.form-control::-webkit-input-placeholder {
  color: #494949;
}

/***********************************************************************************************/
/*Writings*/
/***********************************************************************************************/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  color: #19191a;
  text-transform: uppercase;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

h1, .h1 {
  font-family: 'Abel', sans-serif;
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 2px;
}

h2 {
  font-size: 24px;
}  

h3 {
  font-size: 17px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

p {
  margin: 0;
}

.title-section hr {
  width: 15%;
}

.title-section  p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.pad-sec {
  padding: 100px 0!important;
}

.title-section {
  padding-left: 30px;
  padding-right: 30px;
}

.sep-section {
  height: 1px;
  border-bottom: 1px solid #EAEAEA;
}

/* horizontal line */
.line
{
	padding-bottom: 30px;
}

.divider
{
	position: relative;
	margin-top: 30px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 2px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}



.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: rgb(4, 108, 164);
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}




/***********************************************************************************************/
/* =Preloader */
/***********************************************************************************************/ 

#preloader {
  background-color: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
}

#loading-animation {
  background-image: url("../images/loading.GIF") ;
  opacity: 0.7;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
  border-radius: 4px;
}

/************************************************************************
// =Navbar
*************************************************************************/
.navbar-default {
  background: #fff;
  border: none;
  width: 100%;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  border-bottom: 2px solid #f0f0f0;
}
.navbar.active {
  position: fixed;
  opacity: 0.95;
  border: 1px solid #E8E8E8;
}

.navbar-nav {
  margin: 7.5px -10px;
}

.navbar-default .navbar-nav > li > a {
  color: #060606;
  text-transform: uppercase;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -ms-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > 
.active > a:focus {
  background: transparent;
  color: #3e83fb;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #0e5feb;
}

.dropdown-menu {
  top: 117%;
  font-size: 12px;
  text-transform: uppercase;
    -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  border-top: 0;
  padding: 12px 5px;
}

.dropdown-menu>li>a {
  padding: 3px 15px;
  line-height: 1.7;
  letter-spacing: 2px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: #fff;
  color: #061076;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #fff;
  color: #20079f;
}

.navbar-default .dropdown:hover>.dropdown-menu {
  display: block;
}





/***********************************************************************************************/
/* =Hero section */
/***********************************************************************************************/

#hero-section {
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  background-image: url('../images/bg2.jpg');
  
}

.home-hero:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  z-index: 1;
}







/********************************************************************************************************
 video section start */
  :root {
  --headerOpacity: 1;
  --headerScale: 1;
}


.video-header {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
}


.video-header, .video-header video, .video-header .viewport-header {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}


.video-header video {
  
  object-fit: cover;
}


.video-header .viewport-header {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  opacity: var(--headerOpacity);
  transform: scale(var(--headerScale));
}

.video-header h1 p{
  padding: 30px;
}

.viewport-header p{
  font-size: 20px;
}

/* html, body {
  height: 100vh;
  overflow-x: hidden;
} 



/* video section end */





/*******************************/
/*********comparison slider start*********/
/*******************************/
.containerslider
{
    position: relative; 
    width: 100%; 
    height: 100vh;
    /* margin-bottom: 60px; */
    overflow: hidden;
    /* padding: 120px 0 0 0; */
} 
.containerslider .slide
{   
    position: absolute;    
    top: 0;    
    Left: 0;
    width: 100%;    
    height: 100vh;
}
.containerslider .slide.slide1
{
    background: url(../images/Centralized\ Cloud.gif) no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.containerslider .slide.slide2
{
    background: url(../images/Decentralized\ Cloud.gif) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    left: 50%;
}
/*******************************/
/********* comparison slider end*********/
/*******************************/

/***********************************************************************************************/
/* =About Section */
/***********************************************************************************************/

.big-title-sec {
  text-align: center;
  padding-bottom: 100px;
}



.big-title-sec .big-subtitle {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.3px;
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.45;
  text-transform: none;
  color: #000;
}

.offer-icon{
  font-size: 50px;
  color: #054077;
}

/*--------------------
  Features Section
----------------------*/

#features-section {
  padding: 120px 0!important;
  padding-bottom: 100px!important;
}

#features-section .title-section {
  padding-bottom: 80px;
}

.features-image {
  text-align: center;
}

.choose-image {
  text-align: center;
}

ul.features-list {
  list-style: none;
  padding: 0;
  padding-top: 50px;
}

ul.features-list li {
  margin-bottom: 30px;
}

.iconbox {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
}

.iconbox i {
  font-size: 32px;
  color: #5192fc
}

.features-box-content {
  margin-left: 70px;
}

.features-box-content h6 {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.creative-content-left, .creative-content-right {
  padding-top: 100px;
}

#creative-section-1 h2, #creative-section-2 h2, #features-app-section-1 h2, #features-app-section-2 h2 {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 32px;
  text-transform: capitalize;
}

#creative-section-1 p, #creative-section-2 p, #features-app-section-1 p {
  line-height: 26px;
  font-size: 14px;
}

#creative-section-1 .view-more, #creative-section-2 .view-more, #features-app-section-1 .view-more, #features-app-section-2 .view-more {
  padding-top: 30px;
  text-align: left!important;
}

.img-creative-left figure, .img-creative-right figure {
  padding: 0 25px;
  text-align: center;
}


/***********************************************************************************************/
/* =our mission*/
/***********************************************************************************************/


#banner-services {
  background: url('../images/missionbg.jpg') center top;
  position: relative;
  border-bottom: 1px solid transparent;
}

#banner-services:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(5,5,5,0.8);
  width: 100%;
  height: 100%;
  z-index: 2;
}

#banner-services .container {
  position: relative;
  z-index: 3;
}

.banner-content {
  margin: 80px 0;
}

.banner-content, .banner-content h3 {
  color: #fff;
}

.banner-content h3 {
  font-weight: 400;
  letter-spacing: 2.6px;
  font-size: 19px;
}

.banner-decription {
  font-weight: 300;
}

.banner-image {
    margin: -40px 0 0 0;
    text-align: right;
}

.banner-content a {
  letter-spacing: 1.6px;
  margin-top: 30px;
}


 
/***********************************************************************************************/
/* =Contact section*/
/***********************************************************************************************/

#contact-section .divider {
  display: inline-block;
}

#contact-section .title-section {
  padding-bottom: 80px;
}

.form-group .form-control.br-b {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

textarea.form-control {
  min-height: 100px;
}

#contactform .form-group #submit {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.contact-info {
  text-align: center;
  border-top: 1px solid #EEEEEE;
}

.contact-info a {
  color: #4F4F4F;
  font-size: 18px;
  display: block;
  padding: 50px 0;
}

.contact-info a i {
  display: block;
  font-size: 30px;
  margin-bottom: 15px;
}





/***********************************************************************************************/
/* =Footer */
/***********************************************************************************************/

#footer-section {
  padding: 80px 0;
  background: #F7F7F7;
  border-top: 1px solid #EEEEEE;
}

ul.footer-social-links {
  list-style-type: none;
  padding: 0;
}

ul.footer-social-links li {
  display: inline-block;
  margin-left: 30px;
}

ul.footer-social-links li:first-child {
  margin: 0;
}

ul.footer-social-links li a {
  font-size: 15px;
  color: #4F4F4F;
  display: block;
  text-transform: uppercase;
}

ul.footer-social-links li a:after {
  content: "";
  display: block;
  left: 0;
  right: 0;
  height: 1px;
  background: #69a5fe;
  opacity: 0;
  -webkit-transform: translateY(5px);
     -moz-transform: translateY(5px);
      -ms-transform: translateY(5px);
       -o-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}

ul.footer-social-links li a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}

p.copyright {
  padding-top: 40px;
}

/***********************************************************************************************/
/* =Back to top */
/***********************************************************************************************/

.back-to-top {
  text-align: center;
  background: #2b9ced;
  color: #fff;
  display: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  opacity: 0.7;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  cursor: pointer;
  z-index: 9999
}

.back-to-top:hover {
  opacity: .9;
}

/***********************************************************************************************/
/* Responsive Part */
/***********************************************************************************************/

@media screen and (max-width: 1200px) {

  #about-section .about {
    padding-top: 40px;
  }

}

@media screen and (max-width: 992px) {

  body {
    padding-top: 55px;
  }

  .navbar .container {
    width: 95%!important;
  }

  .entry-post {
    padding-bottom: 35px;
  }

  #type-masory {
    width: auto;
}

  #about-section .about {
    padding: 90px 70px;
  }

  .member-team .magnifier .magnifier-inner {
    padding: 0 10px;
  }

  .member-team .magnifier .magnifier-inner p:last-of-type {
    display: none;
  }

  ul.price-table {
    margin-left: 0;
    margin-right: 0;
  }

  .banner-image {
    margin-top: 40px!important;
  }

  .gallery-masory {
    width: auto;
  }

  .contactform {
    padding: 80px 10px;
  }

  .portfolio-desc .col-sm-4 {
    margin-bottom: 20px;
  }

  .portfolio-rel figure {
    margin-bottom: 20px;
  }

  .form-inline .form-control, .form-inline .form-group {
    display: block;
  }

  .newsletter-field {
    width: 100%;
  }

  #subscribe-section #subscribe-button {
    display: block;
    width: 100%;
  }

  #blog-head {
    text-align: center!important;
  }

  #search-form {
    margin-top: 30px;
  }

  .breadcrumb {
    text-align: center;
  }

}

@media screen and (max-width: 768px) {

  .navbar .container {
    width: auto;
  }

  .big-title-sec .view-more a {
    margin: 5px 0;
  }

  .hero-content h1 {
    font-size: 38px;
  }

  .soon-countdown div span:first-child {
    font-size: 60px;
  }

  .creative-content-left {
    padding-top: 0;
  }

   #creative-section-1 .view-more {
    text-align: center!important;
   }

 #creative-section-2 .view-more {
    margin-bottom: 80px;
    text-align: center!important;
  }

  .about-studio, .what-do {
    padding-bottom: 35px;
  }

  .member-team {
    margin-bottom: 30px;
  }

  .member-team .magnifier .magnifier-inner {
    padding: 0 30px;
 }

  .member-team .magnifier .magnifier-inner p:last-of-type {
    display: block;
  }

  .banner-content {
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
  }

  .banner-image {
    text-align: center;
    margin-bottom: 40px;
  }

  .client img {
    width: 70%!important;
  }

  .about-me h4 a {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 640px) {
  
  h1, .h1 {
    font-size: 40px;
  }

    .hero-content h1 {
    font-size: 33px;
  }

  .soon-countdown div span:first-child {
    font-size: 50px;
  }

  p.hero {
    font-size: 14px;
    line-height: 24px;
  }

  .big-title-sec .big-title {
    font-size: 20px;
  }

  .big-title-sec .big-subtitle {
    font-size: 28px;
  }

  .big-title-sec p {
    font-size: 14px;
  }

  #action-section {
    text-align: center;
  }

  #action-section h2 {
    line-height: 1.4;
  }

  #action-section .btn+.btn {
    margin-left: 0;
    margin-top: 20px;
  }

  .client img {
    width: 100%!important;
  }

}

@media screen and (max-width: 480px) {
  .back-to-top {
    visibility: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .market_img {
    display: none;
  }
}

@media screen and (max-width: 1224px) {
  .containerslider{
    display: none;
  }
}

@media screen and (min-width: 1224px) {
  .mob_container{
    display: none;
  }
}
